body {
    text-align: center;
    font-family: verdana, sans-serif;
    background-image: linear-gradient(rgb(178, 178, 239), rgb(15, 104, 133));
    background-attachment: fixed;
    height: 98vh;
    color: black;
}

header img {
    height: 100px;
    border: 2px black solid;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0px -10px 0px;
}

header h1 {
    text-shadow: 2px 2px white;
}

#text {
    font-size: 1.3rem;
}

main {
    max-width: 660px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#option2, #option3, #option4 {
    margin-top: 10px;
}


li {
    margin: 5px;
    text-align: start;
}

.btn2 {
    margin-top: 5px;
}

.btn3 {
    margin-top: 5px;
}

footer {
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}